<div class="container">
  <div class="entry-detail">
    <div class="row">
      <div class="col-md-6 left-field">
        <form [formGroup]="DiaryField" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <input type="text" formControlName="dateTime" [(ngModel)]="dDate" placeholder="Select Date" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
          <div class="form-group">
            <input type="text" formControlName="diaryTitle" [(ngModel)]="titletext" class="form-control" id="title" placeholder="Title">
          </div>
          <div class="form-group">
            <textarea class="form-control" formControlName="bodyContent" rows="5" id="comment" [(ngModel)]="pContent" placeholder="Write"></textarea>
          </div>
          <div class="d-flex justify-content-center">
            <button class="btn save-btn">Save</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="diary-display">
          <div class="d-flex justify-content-end date-time">
            <p>26May2019 <span>9:00 am</span></p>
          </div>
          <div class="d-flex justify-content-center align-items-center title">
            <h2>{{titletext}}</h2>
          </div>
          <div class="content">
            <p>{{pContent}}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>

<!-- <script type="text/javascript">
  $(function () {
      $('#datetimepicker2').datetimepicker({
          locale: 'ru'
      });
  });
</script> -->

<!-- <script type="text/javascript">
  $(function () {
      $('#datetimepicker2').datetimepicker({
          defaultDate: "11/1/2013",
          locale: 'ru',
          disabledDates: [
              moment("12/25/2013"),
              new Date(2013, 11 - 1, 21),
              "11/22/2013 00:53"
          ]
      });
  });
</script> -->

