.login-card{
    width: 60%;
    margin: 8% auto;
    label{color: #eacf4f;}
    input{background: transparent;color: #fff;}
    button.login-btn{background: #eacf4f;border: 1px solid #eacf4f;color: #000;padding: 6px 30px;border-radius: 30px}
    button.login-btn:hover{background: transparent;color: #000;}
}