/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "DancingScript-Bold";
    src: url("./assets/fonts/DancingScript-Bold.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/DancingScript-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/DancingScript-Bold.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/DancingScript-Bold.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/DancingScript-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/DancingScript-Bold.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/DancingScript-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  /* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "DancingScript-Regular";
    src: url("./assets/fonts/DancingScript-Regular.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/DancingScript-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/DancingScript-Regular.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/DancingScript-Regular.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/DancingScript-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/DancingScript-Regular.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/DancingScript-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
body{background-color: transparent; background: url("./assets/images/bg-site.jpg")repeat;}
.form-control:focus{box-shadow: none;}
$color-yellow: #eacf4f;
.input-group-text{background-color: #eacf4f;border: 1px solid #eacf4f;border-radius: 0px; }
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{background-color: #eacf4f;color: #000;}
.bootstrap-datetimepicker-widget a[data-action]{color: #000;background: #eacf4f;}
button.y-btn{color: #000;background: #eacf4f;padding: 6px 30px;border-radius: 30px;}
.card{background: #fff;box-shadow: 0px 0px 5px 0px #ccc;padding: 20px;border-radius: 0px;width: 60%;margin: 20px auto;}